### SET
### set a variable
```sql
SET @first_num = 1,
    @end_num = 7;
```

In [52]:

#! sql_connector cant use SET
import mysql.connector

try : 
    mydb = mysql.connector.connect(
        host='localhost',
        user = 'root',
        password = 'Zs8271911c',
        auth_plugin = 'mysql_native_password',
        database = 'sql_p'
    )
    first_num = 4

    my_cursor = mydb.cursor()
    query =f'select * from cats where age = {first_num}'          
    my_cursor.execute(query)
    for x , y , z , h in my_cursor:
        print(x , y , z , h )
except Exception as error_msg:
    print(str(error_msg))

1 Ringo Tabby 4
4 Egg Persian 4