## signed - negative input allowed
## unsigned - only positive input allowed

| Type  | Storage (bytes)   |  Minimum Value SIGNED | Minimum Value Unsigned  | Maximum Value Signed  | Maximum Value Unsigned  |
|---|---|---|---|---|---|
| TINYINT   |	1 	  | -128   |   	0 |	127  |	255      
|  SMALLINT |	2 |	-32768 | 	0 |	32767 |	65535 
| MEDIUMINT |	3 	|-8388608 |	0 |	8388607 |	16777215  
|  INT |	4 |	-2147483648 |	0 |	2147483647 |	4294967295 
| BIGINT |	8 	|-263 |	0 	|263-1 |	264-1

```sql
-- example 
CREATE TABLE IF NOT EXISTS cats3(
								name VARCHAR(30),
                                age INT UNSIGNED);
                                
DESC cats3;


INSERT INTO cats3 (age)
VALUES (-3);

-- WILL GET ERREOR MESSAGE IF YOU ENTER NEGATIVE VALUE

-- Error Code: 1264. Out of range value for column 'age' at row 1

```