### null is allowed by default

## have to set null not allow by manully

In [1]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = 'Zs8271911c',
        auth_plugin = 'mysql_native_password',
        database = 'sql_p'
    )

    my_cursor = mydb.cursor()
    my_cursor.execute('''
    CREATE TABLE IF NOT EXISTS cats (   
                                    name VARCHAR(30) NOT NULL,
                                    age INT UNSIGNED NOT NULL
                                    )
                      ''')
except Exception as error_msg:
    print(str(error_msg))

## testing insert a data to table cats with NULL value

In [2]:
import mysql.connector 
try:
    mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = 'Zs8271911c',
        auth_plugin = 'mysql_native_password',
        database = 'sql_p'
    )
    my_cursor = mydb.cursor()

    my_cursor.execute('''
    INSERT INTO cats (name )
              VALUES ('TOM')
                     ''')
except Exception as error_msg:
    print(str(error_msg))

1364 (HY000): Field 'age' doesn't have a default value

### column age is no null allowed so will show you
### 1364 (HY000): Field 'age' doesn't have a default value


```sql
-- look for those values are null or 0

select * from cats

where

name is null

or

age = 0;
```