## avoid error 1364 Field '' doesnt have a default value
## column is set to not null and that column's value is not given

In [9]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = 'Zs8271911c',
        auth_plugin = 'mysql_native_password',
        database = 'sql_p'
    )

    my_cursor = mydb.cursor()
    my_cursor.execute('''
    CREATE TABLE IF NOT EXISTS cats2
			(name VARCHAR(20) NOT NULL DEFAULT 'UNKNOW',
             age INT UNSIGNED NOT NULL DEFAULT 0
			);
                      ''')
    
    print('tables cats2 is created or its exists')
    
    #! even column name and age is set NOT NULL but with default setting on both columns
    #! we can only insert data of 1 column only and get no error message
    my_cursor.execute('''
    INSERT INTO cats2 (name)
    VALUES ('KITTY');
                      ''')
    
    print('data inserted')
    
    ## commit changes to mysql database
    mydb.commit()

    my_cursor.execute('''
    select * from cats2
                      ''')


except Exception as error_msg:
    print(str(error_msg))

for x in my_cursor:
    print(x)

tables cats2 is created or its exists
data inserted
('KITTY', 0)
('UNKNOW', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)