In [6]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = 'Zs8271911c',
        auth_plugin = 'mysql_native_password',
        database = 'sql_p'
    )
    #! insert mario's pizza but using \
    #! in mysql workbench just use \
    #! but in python must use \\
    my_cursor = mydb.cursor()
    my_cursor.execute('''
    INSERT INTO cats2 
                      ( name )
                VALUES
                      ( 'mario\\'s pizza ')
                      
                      ''')
    mydb.commit()

    my_cursor.execute('''
    SELECT * FROM cats2
                      ''')      
    for x in my_cursor:
        print(x)

except Exception as error_msg:
    print(str(error_msg))

('KITTY', 0)
('UNKNOW', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)
('KITTY', 0)
("mario 's pizza ", 0)
("mario's pizza ", 0)