## table cats2 has 2 columns name and age
## we can only insert a data with 1 column only

In [2]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = 'Zs8271911c',
        auth_plugin = 'mysql_native_password',
        database = 'sql_p'
    )

    my_cursor = mydb.cursor()

    my_cursor.execute('''
    INSERT INTO cats2 ( name )
               VALUES ( 'jerry' );
                      ''')
    mydb.commit()


    my_cursor.execute('''
    SELECT * FROM cats2
                      ''')
    for x,y in my_cursor:
        print(x,y)
except Exception as error_msg:
    print(str(error_msg))

KITTY 0
UNKNOW 0
KITTY 0
KITTY 0
KITTY 0
KITTY 0
KITTY 0
KITTY 0
mario 's pizza  0
mario's pizza  0
jerry 0
jerry 0