In [ ]:
'''
CREATE TABLE cats3 (
    name VARCHAR(30) NOT NULL DEFAULT 'unnamed',
    age INT UNSIGNED NOT NULL DEFAULT 99
)
'''