## Aliases
#### use Aliases to rename the column or the result of selected table

```sql
SELECT cat_id AS id, name
FROM cats;
```

In [4]:
import mysql.connector

try :
    mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = 'Zs8271911c',
        auth_plugin = 'mysql_native_password',
        database = 'sql_p'
    )

    my_cursor = mydb.cursor()
    my_cursor.execute('''
    SELECT cat_id AS id , name FROM cats
                      ''')
    
    for x , n in my_cursor:
        print(x,n)
except Exception as error_msg:
    print(str(error_msg))

1 Ringo
2 Cindy
3 Dumbledore
4 Egg
5 Misty
6 George Michael
7 Jackson