### DELETE
```SQL
DELETE FROM cats WHERE name = 'Egg';

```

# DELETE FROM cats 
### this means delete all the data in table cats
-- Delete all rows in the cats table:

### if there is no data is match
### result will return 'empty set'