### https://blog.csdn.net/LeiLiFengX/article/details/109922043
## pandas 写入mysql数据库.to_sql方法详解

```
to_sql()方法参数解析：
name:指定的是将输入接入数据库当做的哪个表

con：与数据库链接的方式，推荐使用sqlalchemy的engine类型

schema: 相应数据库的引擎，不设置则使用数据库的默认引擎，如mysql中的innodb引擎

if_exists: 当数据库中已经存在数据表时对数据表的操作，有replace替换、append追加，fail则当表存在时提示ValueError。

index：对DataFrame的index索引的处理，为True时索引也将作为数据写入数据表

index_label:当上一个参数index为True时，设置写入数据表时index的列名称

chunsize：设置整数，如20000，一次写入数据时的数据行数量，当数据量很大时，需要设置，否则会链接超时写入失败。

dtype：写入数据表时，可以设置列的名称(The keys should be the column names and the values should be the SQLAlchemy types or strings for
the sqlite3 legacy mode),需要设置时，类型需要和sqlalchemy的类型保持一致.当不设置时，to_sql生成表时会自动兼容最大的类型。
```
#### .to_sql()参数中除 name、con必填外，可选参数index推荐使用False，同时dtype推荐不使用。

#### to_sql方法当数据表不存在时创建，存在时根据if_exists参数设置的replace，append，fail时分别对应替换、追加、失败处理。

#### 数据库中对表的增删改，最好是在数据库层面处理，不应该由to_sql()方法设置，虽然这个方法本身可以在表不存在时增加表，但是不推荐。在数据库层面设计表，需要根据表的数据，不同的字段设计合理的存储类型，可以对表进行合理的设计和优化。to_sql()本身创建的表，浮点类型是double，整型bigint，字符类型默认兼容最大的text，虽然可以使用dtype参数设置类型，但我个人不推荐使用。还是建议在数据库中先创建合理的目标表，在根据to_sql()方法，将数据写入目标表中。


#### 如果你觉得你电脑配置很强大的话，还可以在to_sql中添加此参数：
```
method=‘multi’
```

In [7]:
import pandas as pd
from sqlalchemy import create_engine

#? sqlalchemy.create_engine()的两种方式： 
# data_engine = create_engine('mysql+mysqldb://root:19821205@127.0.0.1/sql_fr_ai?charset=utf8') 
data_engine = create_engine('mysql+mysqlconnector:// root:19821205@127.0.0.1/sql_fr_ai?charset=utf8') 
# user:passwd@127.0.0.1/database  --> 格式为 用户名:密码@服务器地址/数据库名

#! sample holiday_master.csv has no header and no index
holiday_data = pd.read_csv('D:/AI academic/教材とデータ/02.SQL/01.教材/DATA/holiday_master.csv',header=None,index_col=False, delimiter = ',')
holiday_data.columns =["Date_YMD", "Public_Holiday"]
#holiday_data


# pandas to_sql() function
holiday_data.to_sql(
    'holiday_master_hsuan',
    con = data_engine,
    if_exists='replace',   #! 有replace替换、append追加，fail则当表存在时提示ValueError。
    index=False,
    method="multi"
)

924

#### Pandas高效率插入数据(to_sql进阶用法)
#### 当前只有sqlserver支持此用法
```
connection_string = "xxxxxxxxx"
engine = create_engine(
                                        connection_string,
                                        fast_executemany=True)
```

#### 如果你觉得你电脑配置很强大的话，还可以在to_sql中添加此参数：
```
method=‘multi’
```