## works in mysql

# AUTO INCREMENT Field

### Auto-increment allows a unique number to be generated automatically when a new record is inserted into a table.

### Often this is the primary key field that we would like to be created automatically every time a new record is inserted.

In [2]:
import mysql.connector as sql
import pandas as pd

# auth_plugin is needed, can check by commends 
# SELECT user,authentication_string,plugin,host FROM mysql.user;
# check the columns plugin and user

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    database = "sql_intro",
    buffered = True             # Unread result found issue
)                                              # if using pandas no need to use buffer

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f854cda3f10>

In [6]:
mycoursor = mydb.cursor()


mycoursor.execute("""
DROP TABLE IF EXISTS testing_3;  

"""
)

# auto_increment must set as primary key or wont  work for mysql

In [3]:
# only execute sql query wo passing data to panda dataframe
mycoursor = mydb.cursor()

mysql_query = """
CREATE TABLE testing_3 (
    Personid int NOT NULL AUTO_INCREMENT,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (Personid)
); 
"""

mycoursor.execute(mysql_query)