# 指定小數點

In [2]:
import mysql.connector as sql
import pandas as pd

# auth_plugin is needed, can check by commends 
# SELECT user,authentication_string,plugin,host FROM mysql.user;
# check the columns plugin and user

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    database = "sql_intro",
    buffered = True             # Unread result found issue
)                                              # if using pandas no need to use buffer

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f4a1a1e2130>

# TRUNCATE(Mysql)
    > 不會四捨五入
# TRUNC(Bigquery)
    > 不會四捨五入

In [6]:

sql_query = """
SELECT TRUNCATE(2.465,1);
"""

df = pd.read_sql_query(
    sql_query,
    mydb)
df

   TRUNCATE(2.465,1)
0                2.4

In [8]:

#! 需要四捨五入的話要先round
sql_query = """
SELECT TRUNCATE( ROUND(2.465,1),1);
"""

df = pd.read_sql_query(
    sql_query,
    mydb)
df

   TRUNCATE( ROUND(2.465,1),1)
0                          2.5