In [1]:
import mysql.connector as mysql_connector 
import pandas as pd

mydb = mysql_connector.connect(
    host = "localhost",
    user = "root",
    password = "19821205",
    auth_plugin = "mysql_native_password",
    buffered = True,
    database = "sql_fr_ai"
)
# preparing a cursor object for "mydb"
cursorObject = mydb.cursor()


sql_query = "select * from order_report_1"

content_pandas = pd.read_sql_query(
    sql_query,
    mydb
)

content_pandas

C:\Users\Bruce Ashbee\AppData\Local\Temp\ipykernel_35136\4194968313.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  content_pandas = pd.read_sql_query(

              order_id    date_ymd taste  amount
0      2016-04-05-0083  2016-04-05    T1   800.0
1      2016-04-05-0028  2016-04-05    T1   800.0
2      2016-04-05-0049  2016-04-05    T1   800.0
3      2016-04-05-0035  2016-04-05    T2   850.0
4      2016-04-05-0016  2016-04-05    T2   850.0
...                ...         ...   ...     ...
80073  2016-04-04-0006  2016-04-04    T7   850.0
80074  2016-04-04-0083  2016-04-04    T7   850.0
80075  2016-04-04-0001  2016-04-04    T7   850.0
80076  2016-04-04-0117  2016-04-04    T7   850.0
80077  2016-04-04-0084  2016-04-04    T7   850.0

[80078 rows x 4 columns]