In [ ]:
import mysql.connector as sql
import pandas as pd

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    buffered = True,          # using this for reading table, panda dont need it
    #multi=True,                 # if wanna use mulitple query
    database = "sql_fr_ai"
)

# auth_plugin is needed, can check by commends 
# SELECT user,authentication_string,plugin,host FROM mysql.user;
# check the columns plugin and user


#? only execute sql query wo passing data to panda dataframe
# mycoursor = mydb.cursor()
# mycoursor.execute(
#     """
#     #! create database
#     create database if not exists database_name;
#     """
# )


#? execute sql query  AND  passing data to panda dataframe
# edit sql query here
sql_query = """
select * 
from  order_report_1
"""
# run sql queries and Importing data from a MySQL database 
# into Pandas data frame

df = pd.read_sql_query(
    sql_query,
    mydb)


df.head()

In [ ]:

#? テーブル和した結果に対して、日毎に売上を集計(合計)したものをテーブルとして保存
mycoursor = mydb.cursor()
mycoursor.execute(
    """
    
    CREATE TABLE IF NOT EXISTS daily_amount AS
    SELECT 
        order_report.date_ymd,
        sum( order_report.amount ) AS amount_day
    FROM(  -- UNION ALL 2 TABLES AS order_report
        SELECT *
        FROM order_report_1
        UNION ALL
            SELECT *
            FROM order_report_2
    ) AS order_report
    GROUP BY order_report.date_ymd
    ;
    """






select count(*)
from daily_amount;