In [1]:
import mysql.connector as sql
import pandas as pd

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    buffered = True,        
    database = "sql_fr_ai"
)



# date_ymd	            amount_day	weekday	avetemp	totprecip	public_holiday
# 0	2016-04-01	    88850.0	            Fri	            12.8	        2.5	            None
# 1	2016-04-02	    73050.0	            Sat	            10.5	        1.5	                None
# 2	2016-04-03	    91050.0	            Sun	            13.1            4.0	            None

#? 三除二無條件捨去
mysql_query ="""
SELECT 
            FLOOR(3/2)
;
"""


df = pd.read_sql_query(
    mysql_query,
    mydb)


df

   FLOOR(3/2)
0           1