In [1]:
import mysql.connector as sql
import pandas as pd

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    buffered = True,        
    database = "sql_fr_ai"
)
#fyi
# in bigquery
# format("%03d" , 20)  - > result    020

#? 數字不夠三位數的用零補
mysql_query ="""
SELECT 
            LPAD(20,3,0)
;
"""
df = pd.read_sql_query(
    mysql_query,
    mydb)
df

  LPAD(20,3,0)
0          020

In [2]:
import mysql.connector as sql
import pandas as pd

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    buffered = True,        
    database = "sql_fr_ai"
)

#? 數字不夠三位數的用*補
mysql_query ="""
SELECT 
            LPAD(20,3,'*')
;
"""
df = pd.read_sql_query(
    mysql_query,
    mydb)
df

  LPAD(20,3,'*')
0            *20

In [1]:
import mysql.connector as sql
import pandas as pd

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    buffered = True,        
    database = "sql_fr_ai"
)

#? 數字不夠三位數的用*補
mysql_query ="""
SELECT
        LPAD( "abc", 5, '-')
;
"""
df = pd.read_sql_query(
    mysql_query,
    mydb)
df

  LPAD( "abc", 5, '-')
0                --abc

In [5]:


import mysql.connector as sql
import pandas as pd

mydb = sql.connect (
    host = "localhost",
    user = "root",
    password = "ZAQs8271911c$",
    auth_plugin='mysql_native_password',
    buffered = True,        
    database = "sql_fr_ai"
)

#? 數字不夠三位數的用*補
mysql_query ="""
SELECT
      LPAD('abc',5, 0)   ##in bigquery u cant do that coz abc is a string, 0 is a int.   got to be LPAD("abc", 5, '0')
;
"""
df = pd.read_sql_query(
    mysql_query,
    mydb)
df

  LPAD('abc',5, 0)
0            00abc

# bigquery is using format
```
select
FORMAT('%03d', 10);
```
##### result
##### 010

In [4]:
# fyi
# in mysql
# format()   is for decimal places


# format(100,2)
## result 100.00

In [9]:
from decimal import Decimal

Decimal('4.35') * Decimal('100') /Decimal('10')

Decimal('43.50')