# mysql and bgquery

```
UPDATE table_name
SET column_name = values_wanna_change_to
WHERE column_name = values_where_wanna_change