In [3]:
# mysql
"""
-- school KADAI3
select 
		category,
        sum(sub_total) AS total
from 
		sql_school_kadai2
group by
		category
order by total DESC;
"""

'\n-- school KADAI3\nselect \n\t\tcategory,\n        sum(sub_total) AS total\nfrom \n\t\tsql_school_kadai2\ngroup by\n\t\tcategory\norder by total DESC;\n'

# category, total
### 'Food', '11188880'
### 'Sports', '2781320'
### 'Necessities', '2726720'
### 'Fashion', '2681490'
### 'Book-CD-DVD', '799360'

In [ ]:
# bigquery
"""
select
      category,
      sum(sub_total) AS total
from
      `data-sci-acad-learn-sql.TW14_N10.sql_school_kadai2`
group by
      category
order by
      total desc;

"""