# Pandas
### read csv file
```
pd.read_csv()

In [5]:
import pandas as pd
file_location = "D:/study/データ加工_1/DATA/"
customer = pd.read_csv(file_location + "customer.csv",
                       names=('CUSTOMER_NUMBER','CUSTOMER_NAME','CREDIT_SOCRE','AREA') , # nameing  columns
                       header=0 # ignore header
)         
customer.head()

  CUSTOMER_NUMBER CUSTOMER_NAME CREDIT_SOCRE  AREA
0           取引先番号         取引先名称        与信スコア  都道府県
1        CUS00002     ○○○01株式会社           28   新潟県
2        CUS00003     ○○○02株式会社           13   島根県
3        CUS00006     合同会社○○○03            4   福井県
4        CUS00010     合同会社○○○04           27   岐阜県